version: '3.8'

services:
  db:
    image: mongo:8.0
    container_name: db_mongo
    restart: unless-stopped
    env_file:
      - ./server/.env
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${DB_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${DB_PASSWORD}
    ports:
      - 27017:27017
    volumes:
      - mongo_data:/data/db
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s
  
  backend:
    build: ./server
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./server/static/uploads:/app/static/uploads
    env_file:
      - ./server/.env
    
  frontend:
    build: ./ui
    ports:
      - "3001:3001"
    env_file:
      - ./ui/.env
    environment:
      NODE_ENV=production
    
volumes:
  mongo_data: